.fadeOut {
    position: absolute;
    left: 64px;
    bottom: 10vh;
    opacity: 0;
    width: 0;
    height: 0;
    transition: width 1s 1s, height 1s 1s, opacity 1s;
}

.active {
    position: absolute;
    left: 64px;
    bottom: 10vh;
    height: 192px;
    width: 192px;
    opacity: 1;
}

.fadeIn {
    position: absolute;
    left: 64px;
    bottom: 10vh;
    height: 192px;
    width: 192px;
    opacity: 1;
    transition: width 1s 1s, height 1s 1s, opacity 1s;
}

@media only screen and (max-width: 1024px) {
    .App .active, .App .fadeIn, .App .fadeOut {
        width: 112px !important;
        height: 112px !important;
        left: calc(10%);
    }
}